@model IEnumerable<Actual.Models.Campaña>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCampaña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Riesgos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaAsesoramientoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCampaña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Riesgos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaAsesoramientoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<style>
    /* Estilos para la tabla */
    .manage-table {
        width: 100%;
        border-collapse: collapse;
    }

        .manage-table th, .manage-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .manage-table th {
            background-color: #4CAF50;
            color: white;
        }

        .manage-table tr:hover {
            background-color: #f5f5f5;
        }

    /* Estilos para las imágenes */
    .campaign-image {
        max-height: 100.57px;
        max-width: 238.35px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: transform 0.3s;
    }

        .campaign-image:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            transform: scale(1.1);
        }
</style>

<h1>Mis Campañas</h1>

<table class="manage-table" >
    <thead> 
        <tr>
            <th>Imgen</th>
            <th>Nombre Campaña</th>
            <th>Descripcion General</th>
            <th>Objetivos</th>
            <th>Visiones</th>
            <th>Riesgos</th>
            <th>Enlace</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="listing-photoo">
                    @{
                        var imagenBase64 = string.Empty;
                        var primeraImagen = item.Imagens.FirstOrDefault();

                        if (primeraImagen != null && primeraImagen.Ruta != null)
                        {
                            imagenBase64 = Convert.ToBase64String(primeraImagen.Ruta);
                        }
                    }

                    @if (!string.IsNullOrEmpty(imagenBase64))
                    {
                        <img src="data:image/jpeg;base64,@imagenBase64" alt="avatar" class="campaign-image" />
                    }
                    else
                    {
                        <img src="~/img/properties/properties-1.png" alt="listing-photo" class="img-fluid campaign-image">
                    }

                </td>

                <td class="title-container">
                    <h2><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NombreCampaña)</a></h2>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Objetivos)</td>

                <td class="action">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i>Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete"><i class="fa fa-remove"></i>Delete</a>
                </td>
            </tr>

        }
    </tbody>

</table>