@model Actual.Models.ResetPassword
@{
    //Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        :root {
            --seasalt: #F8F9FA;
            --eerie-black: #252525;
            --amaranth-purple: #9D0044;
            --raspberry: #E40163;
            --floral-white: #FDF9F0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: var(--seasalt);
            color: var(--eerie-black);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn {
            background-color: var(--amaranth-purple);
            color: var(--floral-white);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

            .btn:hover {
                background-color: var(--raspberry);
            }

        .form-container {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            transition: all 0.3s ease-in-out;
            margin-bottom: 20px;
            background-color: var(--floral-white);
        }

            .form-container h3 {
                color: var(--raspberry);
                font-family: 'Georgia', serif;
                font-weight: bold;
            }

            .form-container p {
                color: var(--eerie-black);
                font-family: 'Times New Roman', serif;
            }

        .input-text {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--amaranth-purple);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h3>Nueva Contraseña</h3>
        <!-- Form start -->
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.EditorFor(model => model.Token, new { htmlAttributes = new { @class = "input-text", placeholder="Ingresa el token enviado a tu correo electronico" } })
                @Html.ValidationMessageFor(model => model.Token, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "input-text", placeholder="Nueva contraseña" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mb-0">
                <button type="submit" class="btn btn-block">Restablecer Contraseña</button>
            </div>
        }
        <!-- Footer -->
        <div class="footer">
            <span>Ya estas registrado? <a asp-area="" asp-controller="Account" asp-action="Index">Iniciar Sesión</a></span>
        </div>
    </div>

</body>
</html>




